<?xml version="1.0"?>
<configuration>
    <appSettings>
		<!-- If necessary, you can override the SQL Connection String here.  Include "{0}" in the string to
		     cause the SQL Server host name set in batch files or via the UI to be substituted into the 
		     string.  If you do use {0}, you may also use {1} to cause similar handling of the database name.
		     If you do not use {0} and {1} the SQL Server host name and DB name set in UI or batch files will be ignored. -->
        <!-- <add key="SQLConnectionString" value="data source={0};initial catalog=ArchiveService;integrated security=true"/> -->
      <!-- <add key="SQLConnectionString" value="Persist Security Info=False;Integrated Security=SSPI;database={1};server={0}"/>  -->
      <!-- <add key="SQLConnectionString" value="Data Source={0};Initial Catalog={1};Integrated Security=false;User ID=sqllogin;Password=sqlpw"/>  -->
      <!-- Using TempDirectory, you can change the location/volume which ArchiveTranscoder uses for temporary files.
			 Note that the directory must exist in advance, it will not be created.  If not specified, the default is
			 to use the current user's 'local settings\temp' directory. -->
        <!-- <add key="TempDirectory" value="D:\archive_transcoder_temp\"/> -->
      
      <!--By default use a CP3 library to generate slide images from PPT, and both of the following options
      are undefined or false.  If needed we can revert to using PPT with one of the following set to true.  -->
      <!--Export from PPT directly to JPG.  Lower quality but maybe higher fidelity -->
      <!-- <add key="PPT2JpegExport" value="true"/> -->
      <!--Export from PPT to WMF, then convert to JPG.-->
      <!-- <add key="PPTImageExport" value="true"/> -->
      <!--If one of the above is true, we can also use this to adjust alignment of objects on the slides -->
      <!-- <add key="RightShiftPPTImage" value="15"/>-->
      <!-- ImageMagick must be installed and its path configured here to support filtering of frames for
           the "create presentation from video" feature. -->
      <!-- <add key="ImageMagickPath" value="C:\Program Files\ImageMagick-6.6.2-Q16"/> -->
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
  
  <!-- Old assemblies may want Microsoft.Ink 1.7.  This makes them redirect to 6.1 instead. -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Ink"
            publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.1.0.0"
            newVersion="6.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
