<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--By default use a CP3 library to generate slide images from PPT, and both of the following options
    are undefined or false.  If needed we can revert to using PPT with one of the following set to true.  -->
    <!--Export from PPT directly to JPG.  Lower quality but maybe higher fidelity -->
    <!-- <add key="PPT2JpegExport" value="true"/> -->
    <!--Export from PPT to WMF, then convert to JPG.-->
    <!-- <add key="PPTImageExport" value="true"/> -->
    <!--If one of the above is true, we can also use this to adjust alignment of objects on the slides -->
    <!-- <add key="RightShiftPPTImage" value="15"/>-->
    <!-- ImageMagick must be installed and its path configured here to support filtering of frames for
           the "create presentation from video" feature. -->
    <!-- <add key="ImageMagickPath" value="C:\Program Files\ImageMagick-6.6.2-Q16"/> -->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>

  <!-- Old assemblies may want Microsoft.Ink 1.7.  This makes them redirect to 6.1 instead. -->
  <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.Ink"
              publicKeyToken="31BF3856AD364E35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-6.1.0.0"
              newVersion="6.1.0.0"/>
        </dependentAssembly>
      </assemblyBinding>
    </runtime>
  
</configuration>
